# examples
example/output/*
masif-neosurf_v0.1.sif
index.parquet
metadata.parquet
data_preparation/.DS_Store
data_preparation/00-raw_pdbs/1A0G.pdb
data_preparation/00-raw_pdbs/1FGL.pdb
data_preparation/00-raw_pdbs/1UR6.pdb
data_preparation/00-raw_pdbs/2OND.pdb
data_preparation/00-raw_pdbs/3ECH.pdb
data_preparation/00-raw_pdbs/3R1X.pdb
data_preparation/01-benchmark_pdbs/1A0G_A.pdb
data_preparation/01-benchmark_pdbs/1A0G_B.pdb
data_preparation/01-benchmark_pdbs/1FGL_A.pdb
data_preparation/01-benchmark_pdbs/1FGL_B.pdb
data_preparation/01-benchmark_pdbs/1UR6_A.pdb
data_preparation/01-benchmark_pdbs/1UR6_B.pdb
data_preparation/01-benchmark_pdbs/2OND_A.pdb
data_preparation/01-benchmark_pdbs/2OND_B.pdb
data_preparation/01-benchmark_pdbs/3ECH_A.pdb
data_preparation/01-benchmark_pdbs/3ECH_C.pdb
data_preparation/01-benchmark_pdbs/3R1X_A.pdb
data_preparation/01-benchmark_pdbs/3R1X_B.pdb
data_preparation/01-benchmark_surfaces/1A0G_A.ply
data_preparation/01-benchmark_surfaces/1A0G_B.ply
data_preparation/01-benchmark_surfaces/1FGL_A.ply
data_preparation/01-benchmark_surfaces/1FGL_B.ply
data_preparation/01-benchmark_surfaces/1UR6_A.ply
data_preparation/01-benchmark_surfaces/1UR6_B.ply
data_preparation/01-benchmark_surfaces/2OND_A.ply
data_preparation/01-benchmark_surfaces/2OND_B.ply
data_preparation/01-benchmark_surfaces/3ECH_A.ply
data_preparation/01-benchmark_surfaces/3ECH_C.ply
data_preparation/01-benchmark_surfaces/3R1X_A.ply
data_preparation/01-benchmark_surfaces/3R1X_B.ply
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_mask.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_X.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_Y.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p1_Z.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_mask.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_X.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_Y.npy
data_preparation/04a-precomputation_9A/precomputation/1A0G_A_B/p2_Z.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_mask.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_X.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_Y.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p1_Z.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_mask.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_X.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_Y.npy
data_preparation/04a-precomputation_9A/precomputation/1FGL_A_B/p2_Z.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_mask.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_X.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_Y.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p1_Z.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_mask.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_X.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_Y.npy
data_preparation/04a-precomputation_9A/precomputation/1UR6_A_B/p2_Z.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_mask.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_X.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_Y.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p1_Z.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_mask.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_X.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_Y.npy
data_preparation/04a-precomputation_9A/precomputation/2OND_A_B/p2_Z.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_mask.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_X.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_Y.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p1_Z.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_mask.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_X.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_Y.npy
data_preparation/04a-precomputation_9A/precomputation/3ECH_A_C/p2_Z.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_mask.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_X.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_Y.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p1_Z.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_iface_labels.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_input_feat.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_list_indices.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_mask.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_rho_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_theta_wrt_center.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_X.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_Y.npy
data_preparation/04a-precomputation_9A/precomputation/3R1X_A_B/p2_Z.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_mask.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_X.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_Y.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p1_Z.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_mask.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_X.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_Y.npy
data_preparation/04b-precomputation_12A/precomputation/1A0G_A_B/p2_Z.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_mask.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_X.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_Y.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p1_Z.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_mask.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_X.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_Y.npy
data_preparation/04b-precomputation_12A/precomputation/1FGL_A_B/p2_Z.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_mask.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_X.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_Y.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p1_Z.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_mask.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_X.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_Y.npy
data_preparation/04b-precomputation_12A/precomputation/1UR6_A_B/p2_Z.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_mask.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_X.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_Y.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p1_Z.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_mask.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_X.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_Y.npy
data_preparation/04b-precomputation_12A/precomputation/2OND_A_B/p2_Z.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_mask.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_X.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_Y.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p1_Z.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_mask.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_X.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_Y.npy
data_preparation/04b-precomputation_12A/precomputation/3ECH_A_C/p2_Z.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_mask.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_X.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_Y.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p1_Z.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_iface_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_input_feat.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_list_indices.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_mask.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_rho_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_sc_labels.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_theta_wrt_center.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_X.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_Y.npy
data_preparation/04b-precomputation_12A/precomputation/3R1X_A_B/p2_Z.npy
